In [1]:
print ('hola ')

hola

In [2]:
print ('c=3+j8')

c=3+j8

In [4]:
5+12

17

In [5]:
(1+5j)+5

(6+5j)

In [6]:
y=1e-10

In [7]:
print ('y')

y

In [8]:
x=1.

In [9]:
x="Hola"
y="Mundo"
print(x,y, sep="...")

Hola...Mundo

In [10]:
x="Hola"
y="Mundo"
print(x,y, sep="")

HolaMundo

In [12]:
x=input ("Entre el valor para x: ")

Entre el valor para x: 45

In [14]:
x= input ("")

Andres

In [17]:
x=input("Entre el valor para x: ")

Entre el valor para x: 5

In [18]:

x*2

'55'

In [20]:
temp = input("Entre el valor para x: ")
x=float(temp)
x*2

Entre el valor para x: 2

4.0

In [29]:
x = float(input("Entre el valor para x: "))
print (x, "")

Entre el valor para x: 25
25.0

In [25]:
x=5
y=2
x/y

2.5

In [31]:
x=5
y=2
c=x/y
print (c, "")

2.5

In [32]:
x=5
y=2
c=x//y
print (c, "")

2

In [33]:
x=5
y=1.5
c=x+y
print (c, "")

6.5

In [34]:
x=5
y=1.5
c=x/y
print (c, "")

3.3333333333333335

In [35]:
x=5
y=1.5
c=x//y
print (c, "")

3.0

In [36]:
x=5
y=1.5
c=x+2*y
print (c, "")

8.0

In [48]:
t = float(input("Entre el valor para t: "))
h = float(input("Entre el valor para h: "))
g = 9.8
y = h-0.5*g*t**2
print ("El valor de y es: ",y)

Entre el valor para t: 10
Entre el valor para h: 400
El valor de y es:  -90.00000000000006